body {
    background-color: aquamarine;
    color: pink;
    font-family: Comic Sans MS;
}

im, iframe {
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: min(80ch, 100vw - 4rem);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

main {
    padding: 3rem ;
    background-color: yellow;
}

a:link {
    color: darkblue;
}

a:visited {
    color: mediumslateblue;
}

a:hover {
    color: yellow;
}